#header {
background-image: url("../imagenes/slider-1.png");
    height: 768px;
    //height: 100vh;
    width: 100vw;
}

.header__div {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom : 1px solid $color-brand;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 33px;
}

.header__img {
    width: 128px;
    height: 30px;
    margin-left: 100px;
    margin-top: 33px;
}


nav {
    margin-right: 110px;
    ul{
        display: flex; 
      }

    li{
        list-style: none;
        margin-left: 55px;
        margin-top: 33px; 
      } 

    a{
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-primary;
        font-family: $font-secondary;
    }
}

.header__textprimary {
    font-size: 4.8rem;
    color: $color-primary;
    font-family: $font-brand;
    margin-top: 60px;
    margin-left: 101px;
    width: 554px;
    height: 115px;
}

.header__textsecondary {
    margin-top: 60px;
    margin-left: 101px;
    width: 343px;
    height: 42px;
    color: $color-primary;
    font-size: 1.6rem;
    font-family: $font-secondary;
}

.header__buton {
    //@include button;
   // margin-top: 110px;
   // margin-left: 101px;
}

.circulo {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5F6368;
    margin-left: 123px;
    margin-top: 56px;
    /* position: absolute; */
    &::before{
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color-brand;
        margin-left: -20px;
        position: absolute;
    }
    &::after{
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #5F6368;
        margin-left: 20px;
        position: absolute;
    } 
  }
  