@mixin button {
    background: #E0752F 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    width: 144px;
    height: 48px;
    border-radius: 25px;
    font-family: 'Roboto';
    font-size: 16px;
    border: none;
   }